<%= form_for(email_rule) do |f| %>
  <% if email_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_rule.errors.count, "error") %> prohibited this email_rule from being saved:</h2>

      <ul>
      <% email_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Automatically send an e-mail using
    <%= f.select :email_template_id, options_for_select(EmailTemplate.all.collect{ |template| [ template.title, template.id ] }) %>
    <%= f.label :email_template_id %>

    to the applicants for
    <% Klass.active.each do |klass| %>
      <label class="form-check-label">
        <%= f.radio_button :klass_id, klass.id, class: 'form-check-input' %>
        <%= klass.full_title %>
      </label><br>
    <% end %>

    when
    <%= f.select(:state, options_for_select(AppForm.states_for_select)) %>
  </div>

  <div class="form-check"><label class="form-check-label">
    <%= f.check_box :copy_team, class: 'form-check-input' %>
    Copy team
  </label></div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
