<h2><%= klass.subject.title %> <%= klass.title %></h2>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <h3>Screen</h3>
  </div>
  <div class="col-md-3">
    <h3>Interview</h3>
  </div>
  <div class="col-md-3">
    <h3>Decision</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= statistic_group [:applications, :today], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :interviews, 
      :_invite_emails_pending, 
      :_invite_emails_sent, 
      :interviews_rejected,
      :_interview_reject_emails_sent,
      :_interview_reject_emails_pending,
    ], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:interviewed, :no_show], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :admitted,
      :_admit_emails_sent,
      :_admit_emails_pending,
      :rejected,
      :_reject_emails_sent,
      :_reject_emails_pending,
    ], klass %>
  </div>
</div>
<div class="row" style="padding-top:5pt">
  <div class="col-md-3">
    <%= statistic_group [:coming, :not_coming], klass %>
  </div>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        Not reviewed
      </li>
      <li class="list-group-item list-group-item-action">
        For Chi-Chu Review
      </li>
      <li class="list-group-item list-group-item-action">
        For Francis Review
      </li>
      <li class="list-group-item list-group-item-action">
        For Andrew Review
      </li>
      <li class="list-group-item list-group-item-action">
        Reviewed and in limbo
      </li>
    </ul>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :waitlisted,
      :_waitlist_emails_sent,
      :_waitlist_emails_pending,
    ], klass %>
  </div>
</div>