<h2><%= klass.subject.title %> <%= klass.title %></h2>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <h3>Screen <small><%= klass.searches[:applications].count %></small></h3>
  </div>
  <div class="col-md-3">
    <h3>Interview <small><%= klass.searches[:interviews].count %></small></h3>
  </div>
  <div class="col-md-3">
    <h3>Decision <small><%= klass.searches[:interviewed].count %></small></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= statistic_group [:applications, :today], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :interviews,  
      :interviews_rejected,
      :not_reviewed,
    ], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:interviewed, :no_show], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :admitted,
      :rejected,
    ], klass %>
  </div>
</div>
<div class="row" style="padding-top:5pt">
  <div class="col-md-3">
    <%= statistic_group [:coming, :not_coming], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
        :none_reviewed,
      ] + klass.dynamic_screening_searches_names, klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :decided_to_invite,
      :invite_emails_sent,
      :interviews_scheduled,
      :invite_no_response,
    ], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [
      :waitlisted,
      :interviewed_and_in_limbo,
    ], klass %>
  </div>
</div>

<div class="row" style="margin-top:1em">
  <div class="col-md-2">
    Todo
  </div>
  <% [
    :_invite_emails_pending,
    :_interview_reject_emails_pending,
    :_admit_emails_pending,
    :_reject_emails_pending,
    :_waitlist_emails_pending,
  ].each do |item| %>
    <%= statistic item, klass, 'col-md-2' %>
  <% end %>
</div>