<h2><%= klass.subject.title %> <%= klass.title %></h2>

<div class="row">
  <div class="col-md-3">
    <%= statistic_group [:applications, :today], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:round_1_interviews, :scheduled, :completed, :round_1_rejected], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:adcom_decision, :waiting_decision, :decision_made, :rejected, :waitlist], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:admitted, :scholarship, :extension, :not_coming], klass %>
  </div>
</div>
<div class="row" style="padding-top:5pt">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action">
        Not reviewed
      </li>
      <li class="list-group-item list-group-item-action">
        For Chi-Chu Review
      </li>
      <li class="list-group-item list-group-item-action">
        For Francis Review
      </li>
      <li class="list-group-item list-group-item-action">
        For Andrew Review
      </li>
      <li class="list-group-item list-group-item-action">
        Reviewed and in limbo
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:invite_emails_pending, :reject_emails_pending], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:admitted, :scholarship, :no_scholarship, :shortlist], klass %>
  </div>
  <div class="col-md-3">
    <%= statistic_group [:without_scholarship, :deposit_pending, :tuition_pending], klass %>
  </div>
</div>