<h1 style="margin-top:1em">For <%= klass.full_title %> you have today:</h1>

<h3>Screen</h3>
<ul class="lead" style="list-style:none">
  <% if klass.admission_committee_members.where(user: current_user).count > 0 %>
    <%= todo_link klass.id, "for_#{current_user.name}_review",
      @klass_stats[klass.id]['applied'].to_i - @vote_stats[klass.id][current_user.id].to_i,
      'applications to _vote_ for' %>
  <% end %>
  <% if can? :manage, klass %>
    <%= todo_link klass.id, 'ready_to_screen',
      @klass_stats[klass.id]['to_screen'],
      'applications to _screen_' %>
  <% end %>
</ul>

<h3>Interview</h3>
<ul class="lead" style="list-style:none">
  <% if can? :manage, klass %>
    <%= todo_link klass.id, 'interviews_to_assign',
      @klass_stats[klass.id]['interviews_to_assign'],
      'interviews to _assign_' %>
  <% end %>
  <%= todo_link klass.id, 'applicants_to_interview',
    @interviewer_actions[klass.id]['interview_scheduled'].to_i + @interviewer_actions[klass.id]['invite_email_sent'].to_i,
    'applicants to _interview_' %>
  <%= todo_link klass.id, 'interviews_to_score',
    klass.app_forms_that_are(:interviews_to_score).count,
    'interviews to _score_' %>
</ul>

<% if can? :manage, klass %>
  <h3>Decision Recommendations</h3>
  <ul class="lead" style="list-style:none">
    <%= todo_link klass.id, 'recommended_to_reject',
      @klass_stats[klass.id]['reject'],
      'to _reject_' %>
    <%= todo_link klass.id, 'recommended_to_admit',
      @klass_stats[klass.id]['admit'],
      'to _admit_' %>
    <%= todo_link klass.id, 'recommended_to_scholarship',
      @klass_stats[klass.id]['scholarship'],
      'to grant _scholarship_' %>
  </ul>
<% end %>