<%= form_for(payment_tier) do |f| %>
  <% if payment_tier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_tier.errors.count, "error") %> prohibited this payment_tier from being saved:</h2>

      <ul>
      <% payment_tier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'I.e. Entrepreneurship Student - General' %>
  </div>

  <div class="form-group">
    <%= f.label :deposit %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.text_field :deposit, class: 'form-control' %>
    </div>
    <small class="form-text text-muted">The applicant will be considered to paid deposit once balance reaches the value.</small>
  </div>

  <div class="form-group">
    <%= f.label :tuition %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.text_field :tuition, class: 'form-control' %>
    </div>
    <small class="form-text text-muted">The applicant will be considered to paid full tuition fee once balance reaches the value.</small>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
