<h2>
  <%= @title %>
  <% if params[:klass_id] %>
    <small class="text-muted"><%= Klass.find_by_id(params[:klass_id].to_i).full_title %></small>
  <% end %>
</h2>

<table class="table table-sm tablesorter" id="applicationList">
  <thead>
    <tr>
      <th>Firstname <%= fa_icon 'sort' %></th>
      <th>Lastname <%= fa_icon 'sort' %></th>
      <th>Country <%= fa_icon 'sort' %></th>
      <th>Residence <%= fa_icon 'sort' %></th>
      <th>G.<%= fa_icon 'sort' %></th>
      <th>Age <%= fa_icon 'sort' %></th>
      <th class="{sorter: 'shortDate'}">Applied <%= fa_icon 'sort' %></th>
      <th>Status <%= fa_icon 'sort' %></th>
      <th class="{sorter: 'shortDate'}">Changed <%= fa_icon 'sort' %></th>
    </tr>
  </thead>

  <tbody>
    <% @app_forms.each do |app_form| %>
      <% path = app_form_path(app_form, {
        search: params[:search],
      }) %>
      <tr>
        <td><%= link_to app_form.firstname, path %></td>
        <td><%= link_to app_form.lastname, path %></td>
        <td><i class="flag f16 <%= app_form.country.downcase %>"></i> <%= app_form.country %></td>
        <td><i class="flag f16 <%= app_form.residence.downcase %>"></i> <%= app_form.residence %></td>
        <td><%= app_form.gender %></td>
        <td><%= app_form.age %></td>
        <td><%= app_form.created_at.to_s(:short) %></td>
        <td><%= app_form.aasm_state.humanize %></td>
        <td><%= app_form.updated_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
document.addEventListener("turbolinks:load", function() {
    $('table.tablesorter').each(function( index ) {
      $( this ).tablesorter();
    });
});
</script>