<p id="notice"><%= notice %></p>

<h1>App Forms</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Country</th>
      <th>Residence</th>
      <th>Gender</th>
      <th>Dob</th>
      <th>Referral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_forms.each do |app_form| %>
      <tr>
        <td><%= app_form.aasm_state %></td>
        <td><%= app_form.firstname %></td>
        <td><%= app_form.lastname %></td>
        <td><%= app_form.email %></td>
        <td><%= app_form.country %></td>
        <td><%= app_form.residence %></td>
        <td><%= app_form.gender %></td>
        <td><%= app_form.dob %></td>
        <td><%= app_form.referral %></td>
        <td><%= link_to 'Show', app_form %></td>
        <td><%= link_to 'Edit', edit_app_form_path(app_form) %></td>
        <td><%= link_to 'Destroy', app_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App Form', new_app_form_path %>
