<h1>New App Form</h1>

<%= form_for(@app_form, html: { multipart: true }) do |f| %>
  <% if @app_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_form.errors.count, "error") %> prohibited this app_form from being saved:</h2>

      <ul>
      <% @app_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Class
    <%= f.select :klass_id, options_for_select(Klass.active.collect{ |klass| [ klass.full_title, klass.id ] }), {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :residence %>
    <%= f.text_field :residence %>
  </div>

  <div class="field">
    <%= f.label :residence_city %>
    <%= f.text_field :residence_city %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :dob %>
    <%= f.date_select :dob %>
  </div>

  <div class="field">
    <%= f.label :referral %>
    <%= f.text_field :referral %>
  </div>

  <div class="field">
    <%= label_tag 'app_form[uploads[cv]]', 'Resume' %>
    <%= file_field_tag 'app_form[uploads[cv]]', class: 'form-control' %>
  </div>

  <div class="field">
    <%= label_tag 'app_form[uploads[peer_recommendation]]', 'Peer recommendation' %>
    <%= file_field_tag 'app_form[uploads[peer_recommendation]]', class: 'form-control' %>
  </div>

  <% [
    '01 Startup pitch OR Problem to solve',
    '02 What is the world going to be like in 30 years',
    '03 Personal Growth summary OR Most significant accomplishment to date',
    '04 Why do you want to come to bootcamp',
    '05 Anything else interesting or unique about yourself',
  ].each do |essay|
    element_name = 'app_form[answers[' + essay.gsub(' ', '_') + ']]'
  %>
    <div class="field">
      <%= label_tag element_name, essay %>
      <%= text_area_tag element_name, nil, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', app_forms_path %>
