<h2>
  <%= @app_form.firstname + ' ' + @app_form.lastname %>
  <small class="text-muted"><%= @app_form.klass.full_title %></small>
</h2>

<div class="col-md-6"><div class="appformsection">
  <h4>
    Personal Details
    <button class="btn pull-xs-right"
      onClick="$('.edit_app_form :input').prop('disabled', false); this.style.display = 'none';">
      Edit
    </button>
  </h4>

  <%= form_for @app_form, url: { action: 'update' } do |f| %>

    <div class="form-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :country %>
      <%= f.select :country, options_for_select(ISO3166::Country.translations.collect{ |code,name| [ name, code ] }, selected: @app_form.country), {}, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :residence %>
      <%= f.select :residence, options_for_select(ISO3166::Country.translations.collect{ |code,name| [ name, code ] }, selected: @app_form.residence), {}, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :gender %>
      <%= f.text_field :gender, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= @app_form.age %> years old
    </div>

    <div class="form-group">
      <%= f.label :dob %>
      <%= f.date_select :dob, start_year: Date.today.year-100, end_year: Date.today.year-14, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :referral %>
      <%= f.text_field :referral, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :payment_tier %>
      <%= f.select :payment_tier_id, options_for_select(PaymentTier.list_for_select, selected: @app_form.payment_tier_id), {}, class: 'form-control', disabled: 'true' %>
    </div>

    <div class="form-group">
      <%= f.label :aasm_state %>
      <%= f.select :aasm_state, options_for_select(AppForm.aasm.states.collect(&:name), selected: @app_form.aasm_state), {}, class: 'form-control', disabled: 'true' %>
    </div>

    <button type="submit" class="btn btn-primary" disabled>Update</button>
  <% end %>
</div></div>

<!-- Application Overview -->
<div class="col-md-6"><div class="appformsection">
  <h4>Application Overview</h4>

  <p>Created on <%= @app_form.created_at.to_s(:long) %>.<br>
  Last changed <a href="#history" data-turbolinks="false"><%= time_ago_in_words @app_form.updated_at %> ago</a>.</p>
</div></div>

<!-- Actions -->
<div class="col-md-6"><div class="appformsection">
  <h1 class="display-4"><%= @app_form.aasm_state.humanize %></h1>
  <% unless @app_form.aasm.events.empty? %>
    <%= form_tag action: 'event' do %>
      <fieldset class="form-group">
      <% @app_form.aasm.events(:permitted => true).map(&:name).each do |event| %>
        <div class="form-check">
          <label class="form-check-label">
            <%= radio_button_tag 'event', event, nil, class: 'form-radio-input' %>
            <%= event.to_s.humanize %>
          </label>
        </div>
      <% end %>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
  <% end %>
</div></div>

<!-- Screening -->
<div class="col-md-6"><div class="appformsection">
  <table class="table">
    <tbody>
      <tr>
        <td>
          Screening
        </td>
        <td>
          <% @app_form.klass.admission_committee_members.each do |voter| %>
            <span class="<% if voter.user.id == current_user.id %>voter-current <% end %>tag tag-default" id="voter<%= voter.user.id %>"><%= voter.user.name %></span>
          <% end %>
        </td>
      </tr>
      <tr<% if !@app_form.applied? %> style="display:none"<% end %>>
        <td>
          <div id="screening-vote" style="display:none">
            <div class="btn-group" role="group">
              <%= link_to 'Reject', @app_form.id.to_s + '/votes?vote=false', method: :post, remote: true, class: 'btn btn-secondary' %>
              <%= link_to 'Invite', @app_form.id.to_s + '/votes?vote=true', method: :post, remote: true, class: 'btn btn-secondary' %>
            </div>
          </div>
          <div id="screening-revoke" style="display:none">
            <%= link_to 'Revoke', @app_form.id.to_s + '/votes', method: :delete, remote: true, class: 'btn btn-secondary' %>
          </div>
        </td>
      </tr>
      <tr>
        <% if @app_form.can_change_interviewer? %>
          <td>
            Interviewer
          </td>
          <td>
            <%= form_for(@app_form, remote: true, html: { id: 'interviewer_form' }, format: :json) do |f| %>
              <div class="form-group">
                <%= f.select :interviewer_id, options_for_select([['Not assigned', nil]] + @app_form.
                  klass.
                  admission_committee_members.
                  collect(&:user).
                  map{|user| [user.name, user.id]}, selected: @app_form.interviewer_id),
                  {}, class: 'form-control', onChange: '$("#interviewer_form").trigger("submit.rails")' %>
              </div>
            <% end %>
        <% else %>
          <td>
            Interviewed by
          </td>
          <td colspan="<%= @app_form.klass.admission_committee_members.count %>">
            <% if @app_form.interviewer %>
              <%= @app_form.interviewer.name %>
            <% else %>
              &mdash;
            <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
        <td>
          Average score
        </td>
        <td colspan="<%= @app_form.klass.admission_committee_members.count %>">
          <%= link_to_scores @app_form %>
        </td>
      </tr>
    </tbody>
  </table>
</div></div>

<!-- Previous Applications -->
<div class="col-md-6"><div class="appformsection">
  <h4>Previous Applications</h4>
  <% if @app_form.similar.count == 0 %>
    <em>None found.</em>
  <% else %>
    <ul>
      <% @app_form.similar.each do |app| %>
        <li><%= link_to app.created_at.to_s(:short) + ' ' + app.klass.full_title, app %> - <%= app.aasm_state.humanize %></li>
      <% end %>
    </ul>
  <% end %>
</div></div>

<!-- Balance -->
<div class="col-md-6">
<div class="appformsection">
  <h4>Balance Paid</h4>
  <%= form_tag({ action: 'payment' }, class: 'form-inline') do %>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= number_field_tag 'paid', @app_form.paid, step: 'any', min: 0, class: 'form-control' %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
</div>

<div class="col-md-12">
<div class="appformsection">
  <h4>Answers and Files</h4>

  <table class="table">
  <tbody>
    <% @app_form.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.field.humanize %></td>
        <td><%= link_to attachment.original_file_name, attachment.upload.url, target: '_blank' %></td>
        <% if attachment.user %>
          <td>by <%= attachment.user.name %> on <%= attachment.created_at %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>

  <dl>
  <% @app_form.answers.each do |answer| %>
    <dt><%= answer.question.humanize %></dt>
    <dd>
      <% if answer.answer[0..6] == 'http://' %>
        <%= link_to answer.answer, answer.answer, target: '_blank' %>
      <% else %>
        <%= answer.answer %>
      <% end %>
    </dd>
  <% end %>
  </dl>

</div>
</div>

<!-- Interview Notes -->
<div class="col-md-12"><div class="appformsection">
  <h4>Interview Notes</h4>

  <div class="card-deck-wrapper"><div class="card-deck">
    <% user_has_note = false %>
    <% @app_form.interview_notes.each do |note| %>
      <% user_has_note ||= note.user == current_user %>
      <div class="card">
        <%
          if note.user == current_user
            link_destination = edit_app_form_interview_note_path(@app_form, note)
          else
            link_destination = [@app_form, note]
          end
        %>
        <%= link_to link_destination, data: { turbolinks: false } do %>
          <div class="card-block">
            <h4 class="card-title"><%= note.user.name %></h4>
            <p class="card-text"><%= note.text.gsub(/<(.+?)>/, '').truncate_words(50) %></p>
            <p class="card-text">
              <small class="text-muted">
                Last updated <%= time_ago_in_words note.updated_at %> ago
              </small>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
    <% unless user_has_note %>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= current_user.name %></h4>
          <p class="card-text">
            <%= link_to 'Write Note', new_app_form_interview_note_path(@app_form), class: 'btn btn-primary', data: { turbolinks: false } %>
          </p>
        </div>
      </div>
    <% end %>
  </div></div>
</div></div>



<div class="col-md-12">
<div class="appformsection">
  <h4><a name="history">Application History</a></h4>
  <table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>What</th>
      <th>From</th>
      <th>To</th>
      <th>When</th>
      <th>By Who</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Applied</td>
      <td colspan="2"><em><%= time_ago_in_words @app_form.created_at %> ago</em></td>
    </tr>
    <% @app_form.histories.each do |history| %>
      <tr>
        <% if history.from || history.to %>
          <td>
            <%= history.text %>
          </td>
          <td>
            <%= history.from %>
          </td>
          <td>
            <%= history.to %>
          </td>
        <% else %>
          <td colspan="3">
            <div class="card card-block">
              <%= simple_format history.text, class: 'card-text' %>
            </div>
          </td>
        <% end %>
        <td>
          <em><%= time_ago_in_words history.created_at %> ago</em>
        </td>
        <% if history.user %>
          <td>
            <%= history.user.name %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
</div>
</div>

<div class="col-md-12">
<div class="appformsection">
  <h4>Leave Note in History</h4>
  <%= form_tag({ action: 'comment' }, class: 'form') do %>
    <div class="form-group">
      <%= text_area_tag 'note', '', class: 'form-control' %>
    </div>
    <button type="submit" class="btn btn-primary">Leave Note</button>
  <% end %>
</div>
</div>