<%= form_for(email) do |f| %>
  <%= hidden_field_tag 'klass_id', params[:klass_id] %>
  <%= hidden_field_tag 'state', params[:state] %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% unless @app_forms %>
  <div class="form-group">
    <label>To the applicants for</label>
    <%= select_tag(:klass_id, options_for_select(Klass.active_for_select), class: 'form-control') %>
  </div>

  <div class="form-group">
    <label>who are currently</label>
    <%= select_tag(:state, options_for_select(AppForm.states_for_select), class: 'form-control') %>
  </div>
<% else %>
  <div class="form-group">
    <label>
      To:
      <small>
        (applicants who are currently <%= params[:state].humanize(capitalize: false) %> to the <%= Klass.find(params[:klass_id]).full_title %>)
      </small>
    </label>
    <% @app_forms.each do |app_form| %>
      <div class="form-check">
        <label class="form-check-label">
          <%= check_box_tag('app_form_ids[]', app_form.id, true, class: 'form-check-input') %>
          <%= app_form.full_email %>
        </label>
        <%= link_to fa_icon('external-link-square'), app_form, target: '_blank' %>
      </div>
    <% end %>
  </div>
  
  <% unless @subscriptions.empty? %>
    <div class="form-group">
      <%= f.label :copy_team, 'Bcc:' %>
      <div class="form-check"><label class="form-check-label">
        <%= f.check_box :copy_team, class: 'form-check-input' %>
        Admissions team
        (<%= @subscriptions.map{|s| s.user.email }.join(', ') %>)
      </label></div>
    </div>
  <% end %>
<% end %>
  <div class="form-group">
    <label>Use Template</label>
    <%= select_tag(:email_template_id, options_for_select([['N/A, use text below',0]] + EmailTemplate.all.map{|t| [t.title, t.id]}), class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body do %>
      E-mail body
      <small><%= link_to 'Merge Tags reference', mergetags_emails_path, target: '_blank' %></small>
    <% end %>
    <%= quill({}, style: 'height:35em') do %>
      <%= email.body ? email.body.html_safe: '' %>
    <% end %>
    <%= quill_field f, :body %>
  </div>

  <div class="form-group">
    <% if @app_forms %>
      <%= f.submit 'Preview', class: 'btn' %>
      <%= f.submit 'Test E-mail Myself', class: 'btn' %>
      <%= f.submit 'Send E-mails', class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit 'Preview', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
