<p>
  <strong>To:</strong>
  <% if @email.sent %>
    <%= @email.sent_to %>
  <% else %>
    <%= @email.app_form.full_email %>
  <% end %>
</p>

<% if @email.copy_team %>
  <p>
    <strong>Bcc:</strong>
    Admissions team
  </p>
<% end %>

<p>
  <strong>Re:</strong>
  <%= link_to 'An Application', @email.app_form %>
  to the <%= @email.app_form.klass.full_title %>
</p>

<p>
  <strong>Date:</strong>
  <% if @email.sent %>
    <%= @email.updated_at %>
  <% else %>
    Queued
  <% end %>
</p>

<% if @email.user %>
  <p>
    <strong>By:</strong>
    <%= @email.user.name %>
  </p>
<% end %>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<div class="emailbody">
  <%= @email.body.html_safe %>
</div>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
