<%= form_for(email_template) do |f| %>
  <% if email_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
      <% email_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <small class="form-text text-muted">Name of this E-mail Template for internal reference.</small>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control' %>
    <small class="form-text text-muted">Subject of the E-mail.</small>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= quill({}, style: 'height:35em') do %>
      <%= email_template.body ? email_template.body.html_safe: '' %>
    <% end %>
    <%= quill_field f, :body %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>