<!DOCTYPE html>
<html>
  <head>
    <title>Bootcamp Admissions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="nav-item navbar-brand">
            Admissions
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              Dashboard
            </a>
          </li>
          <li class="nav-item pull-xs-right">
            <a class="nav-link" href="/klasses/">
              <%= fa_icon 'cog' %>
              Settings
            </a>
          </li>
       </ul>
      </div>
    </nav>

    <% if @settings_page %>
      <div class="container">
        <h1>Settings</h1>
      </div>
    <% end %>

    <div class="container">

      <% if flash[:notice] %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="row">
        <% if @settings_page %>
          <div class="col-md-4">
            <%= render 'settings_navigation' %>
          </div>
          <div class="col-md-8">
        <% else %>
          <div class="col-md-12">
        <% end %>
          <%= yield %>
        </div>
    </div>
  </body>
</html>
