<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Title</th>
      <th>Archived</th>
      <th>Applications</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= klass.subject.title %></td>
        <td><%= klass.title %></td>
        <td><%= klass.archived %></td>
        <td style="text-align:right"><%= number_with_delimiter klass.app_forms.count %></td>
        <td><%= link_to 'Edit', edit_klass_path(klass) %></td>
        <td><%= link_to 'Destroy', klass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Schedule New Class', new_klass_path %>
